
/* Footer */
footer{
    padding: 5em 5em 1.5em 5em;
    background-color: #132144;
    color: #fff;
    width: 100%;
    height: auto;
}

#footer_section{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5em;
    align-items: flex-start;
}

#footer_logo_section{
    width: 48% !important;
}

#footer_logo_section div{
    width: 50% !important;
}

#footer_logo_section div img{
    width: 100px;
    object-fit: contain;
    margin-bottom: 30px;
}

#footer_section ul{
    width: 25%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#footer_section ul h2{
    margin-bottom: 20px;
}

#footer_section ul li{
    list-style-type: none;
    margin-bottom: 15px;
}

#footer_section ul li a{
    color: #fff;
    text-decoration: none;
}

#copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

#copyright > hr{
    color: #fff;
    width: 100%;
}
#copyright > p{
    display: flex;
    align-items: center;
}

#copyright > p > span{
    font-size: 1.5em;
    margin-right: 5px;
}
@media (max-width: 900px){
    footer{
        padding-left: 6em;
        padding-right: 6em;
        height: auto;
    }
}

@media (max-width: 600px){
    footer{
        padding-left: 2.5em;
        padding-right: 2.5em;
        height: auto;
    }
}


@media (max-width: 700px){
   
    #footer_section{
      flex-direction: column;
      height: auto;
      width: 100%;
    }

    #footer_logo_section, #footer_logo_section div, #footer_section ul{
        width: 100% !important;
        padding-left: 0;
    }

    #footer_logo_section div, #footer_section ul{
        margin-bottom: 30px;
    }

    #footer_section ul li{
        margin-bottom: 15px;
    }

    #copyright{
        font-size: 10px;
        white-space: nowrap;
    }

}


